.elementor-21 .elementor-element.elementor-element-e431e07{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--background-transition:0.3s;border-style:solid;--border-style:solid;border-width:0px 0px 2px 0px;--border-top-width:0px;--border-right-width:0px;--border-bottom-width:2px;--border-left-width:0px;border-color:#FFFFFF;--border-color:#FFFFFF;}.elementor-21 .elementor-element.elementor-element-e431e07:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-e431e07 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EFEDEA;}.elementor-21 .elementor-element.elementor-element-e431e07, .elementor-21 .elementor-element.elementor-element-e431e07::before{--border-transition:0.3s;}.elementor-21 .elementor-element.elementor-element-064a42c .elementor-button-content-wrapper{flex-direction:row-reverse;}.elementor-21 .elementor-element.elementor-element-064a42c .elementor-button{fill:#0071AD;color:#0071AD;background-color:#61CE7000;padding:0px 0px 0px 0px;}.elementor-21 .elementor-element.elementor-element-0d2fae2{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-start;--background-transition:0.3s;border-style:solid;--border-style:solid;border-width:0px 0px 2px 0px;--border-top-width:0px;--border-right-width:0px;--border-bottom-width:2px;--border-left-width:0px;border-color:#FFE600;--border-color:#FFE600;--border-radius:0px 0px 0px 0px;}.elementor-21 .elementor-element.elementor-element-0d2fae2:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-0d2fae2 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EFEDEA;}.elementor-21 .elementor-element.elementor-element-0d2fae2, .elementor-21 .elementor-element.elementor-element-0d2fae2::before{--border-transition:0.3s;}.elementor-21 .elementor-element.elementor-element-2dd13f2 .elementor-icon-wrapper{text-align:center;}.elementor-21 .elementor-element.elementor-element-2dd13f2.elementor-view-stacked .elementor-icon{background-color:#0069D9;}.elementor-21 .elementor-element.elementor-element-2dd13f2.elementor-view-framed .elementor-icon, .elementor-21 .elementor-element.elementor-element-2dd13f2.elementor-view-default .elementor-icon{color:#0069D9;border-color:#0069D9;}.elementor-21 .elementor-element.elementor-element-2dd13f2.elementor-view-framed .elementor-icon, .elementor-21 .elementor-element.elementor-element-2dd13f2.elementor-view-default .elementor-icon svg{fill:#0069D9;}.elementor-21 .elementor-element.elementor-element-2dd13f2 .elementor-icon{font-size:33px;}.elementor-21 .elementor-element.elementor-element-2dd13f2 .elementor-icon svg{height:33px;}.elementor-21 .elementor-element.elementor-element-f74f258{width:var( --container-widget-width, 135px );max-width:135px;--container-widget-width:135px;--container-widget-flex-grow:0;text-align:left;}.elementor-21 .elementor-element.elementor-element-f74f258 img{width:100%;max-width:100%;}.elementor-21 .elementor-element.elementor-element-33cefd1{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--flex-wrap:wrap;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:2em;--padding-bottom:4em;--padding-left:0em;--padding-right:0em;}.elementor-21 .elementor-element.elementor-element-6623dcd{width:var( --container-widget-width, 100% );max-width:100%;--container-widget-width:100%;--container-widget-flex-grow:0;}.elementor-21 .elementor-element.elementor-element-6623dcd .elementor-heading-title{color:#0069D9;font-family:"Roboto", Sans-serif;font-size:14px;font-weight:500;}.elementor-21 .elementor-element.elementor-element-d592cda{width:var( --container-widget-width, 100% );max-width:100%;--container-widget-width:100%;--container-widget-flex-grow:0;}.elementor-21 .elementor-element.elementor-element-d592cda .elementor-heading-title{color:#003A79;font-family:"Trebuchet MS", Sans-serif;font-size:24px;font-weight:600;}.elementor-21 .elementor-element.elementor-element-0670dfa{--display:flex;--gap:0px 0px;--background-transition:0.3s;--border-radius:5px 5px 5px 5px;--padding-top:25px;--padding-bottom:25px;--padding-left:25px;--padding-right:25px;}.elementor-21 .elementor-element.elementor-element-0670dfa:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-0670dfa > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#E9ECEF;}.elementor-21 .elementor-element.elementor-element-0670dfa, .elementor-21 .elementor-element.elementor-element-0670dfa::before{--border-transition:0.3s;}.elementor-21 .elementor-element.elementor-element-92947be{width:100%;max-width:100%;}.elementor-21 .elementor-element.elementor-element-92947be .elementor-heading-title{color:#070707;font-family:"Trebuchet MS", Sans-serif;font-size:16px;font-weight:500;line-height:20px;}.elementor-21 .elementor-element.elementor-element-1ba3c09 img{max-width:100%;}.elementor-21 .elementor-element.elementor-element-18f87aa{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--background-transition:0.3s;--padding-top:2em;--padding-bottom:1em;--padding-left:0em;--padding-right:0em;}.elementor-21 .elementor-element.elementor-element-18f87aa:not(.elementor-motion-effects-element-type-background), .elementor-21 .elementor-element.elementor-element-18f87aa > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../images/XF4z2mc4Zw8t.svg");}.elementor-21 .elementor-element.elementor-element-18f87aa, .elementor-21 .elementor-element.elementor-element-18f87aa::before{--border-transition:0.3s;}.elementor-21 .elementor-element.elementor-element-f878021{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-21 .elementor-element.elementor-element-65ca55e .elementor-heading-title{color:#003157;font-family:"Roboto", Sans-serif;font-size:24px;font-weight:600;}.elementor-21 .elementor-element.elementor-element-4b851db .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(6px/2);}.elementor-21 .elementor-element.elementor-element-4b851db .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(6px/2);}.elementor-21 .elementor-element.elementor-element-4b851db .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(6px/2);margin-left:calc(6px/2);}.elementor-21 .elementor-element.elementor-element-4b851db .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-6px/2);margin-left:calc(-6px/2);}body.rtl .elementor-21 .elementor-element.elementor-element-4b851db .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-6px/2);}body:not(.rtl) .elementor-21 .elementor-element.elementor-element-4b851db .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-6px/2);}.elementor-21 .elementor-element.elementor-element-4b851db .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-21 .elementor-element.elementor-element-4b851db .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-21 .elementor-element.elementor-element-4b851db{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;}.elementor-21 .elementor-element.elementor-element-4b851db .elementor-icon-list-item > .elementor-icon-list-text, .elementor-21 .elementor-element.elementor-element-4b851db .elementor-icon-list-item > a{font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}.elementor-21 .elementor-element.elementor-element-4b851db .elementor-icon-list-text{color:#003157;transition:color 0.3s;}.elementor-21 .elementor-element.elementor-element-15c6d1e{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-21 .elementor-element.elementor-element-208c88d .elementor-heading-title{color:#003157;font-family:"Roboto", Sans-serif;font-size:24px;font-weight:600;}.elementor-21 .elementor-element.elementor-element-ff0a027 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(6px/2);}.elementor-21 .elementor-element.elementor-element-ff0a027 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(6px/2);}.elementor-21 .elementor-element.elementor-element-ff0a027 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(6px/2);margin-left:calc(6px/2);}.elementor-21 .elementor-element.elementor-element-ff0a027 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-6px/2);margin-left:calc(-6px/2);}body.rtl .elementor-21 .elementor-element.elementor-element-ff0a027 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-6px/2);}body:not(.rtl) .elementor-21 .elementor-element.elementor-element-ff0a027 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-6px/2);}.elementor-21 .elementor-element.elementor-element-ff0a027 .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-21 .elementor-element.elementor-element-ff0a027 .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-21 .elementor-element.elementor-element-ff0a027{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;}.elementor-21 .elementor-element.elementor-element-ff0a027 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-21 .elementor-element.elementor-element-ff0a027 .elementor-icon-list-item > a{font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}.elementor-21 .elementor-element.elementor-element-ff0a027 .elementor-icon-list-text{color:#003157;transition:color 0.3s;}.elementor-21 .elementor-element.elementor-element-9a756f8 > .elementor-widget-container{margin:11px 0px 10px 0px;padding:0px 0px 0px 0px;}.elementor-21 .elementor-element.elementor-element-9a756f8{text-align:center;}.elementor-21 .elementor-element.elementor-element-9a756f8 .elementor-heading-title{color:#003157;font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}.elementor-21 .elementor-element.elementor-element-e83e9e0{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-21 .elementor-element.elementor-element-92afb43 .elementor-heading-title{color:#003157;font-family:"Roboto", Sans-serif;font-size:24px;font-weight:600;}.elementor-21 .elementor-element.elementor-element-486f820 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(6px/2);}.elementor-21 .elementor-element.elementor-element-486f820 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(6px/2);}.elementor-21 .elementor-element.elementor-element-486f820 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(6px/2);margin-left:calc(6px/2);}.elementor-21 .elementor-element.elementor-element-486f820 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-6px/2);margin-left:calc(-6px/2);}body.rtl .elementor-21 .elementor-element.elementor-element-486f820 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-6px/2);}body:not(.rtl) .elementor-21 .elementor-element.elementor-element-486f820 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-6px/2);}.elementor-21 .elementor-element.elementor-element-486f820 .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-21 .elementor-element.elementor-element-486f820 .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-21 .elementor-element.elementor-element-486f820{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;}.elementor-21 .elementor-element.elementor-element-486f820 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-21 .elementor-element.elementor-element-486f820 .elementor-icon-list-item > a{font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}.elementor-21 .elementor-element.elementor-element-486f820 .elementor-icon-list-text{color:#003157;transition:color 0.3s;}@media(max-width:767px){.elementor-21 .elementor-element.elementor-element-33cefd1{--content-width:360px;}.elementor-21 .elementor-element.elementor-element-18f87aa{--content-width:95%;}}@media(min-width:768px){.elementor-21 .elementor-element.elementor-element-33cefd1{--content-width:884px;}.elementor-21 .elementor-element.elementor-element-0670dfa{--width:100%;}.elementor-21 .elementor-element.elementor-element-f878021{--width:32%;}.elementor-21 .elementor-element.elementor-element-15c6d1e{--width:32%;}.elementor-21 .elementor-element.elementor-element-e83e9e0{--width:32%;}}/* Start custom CSS for html, class: .elementor-element-5bbddf2 */.elementor-21 .elementor-element.elementor-element-5bbddf2 { font-family: 'Trebuchet MS', sans-serif;
        font-weight: 400;
    
    
}
    #consulta-cpf-widget form {
        display: flex;
        flex-direction: column;
    }

    #consulta-cpf-widget label {
        margin-bottom: 8px;
        color: #555;
    }

    #consulta-cpf-widget input {
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%; /* Faz o campo de texto ocupar toda a largura disponÃ­vel */
        box-sizing: border-box; /* Inclui o padding e a borda na largura total */
    }

    #consulta-cpf-widget button {
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        width:30%; /* Faz o botÃ£o ocupar toda a largura disponÃ­vel */
        box-sizing: border-box; /* Inclui o padding e a borda na largura total */
    }

   
    }
 
 .elementor-21 .elementor-element.elementor-element-5bbddf2  .captcha-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .elementor-21 .elementor-element.elementor-element-5bbddf2 .captcha-image {
        max-width: 40%;
        height: auto;
    }

    .elementor-21 .elementor-element.elementor-element-5bbddf2  .captcha-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .elementor-21 .elementor-element.elementor-element-5bbddf2  #captcha-text {
        width: 100%;
        max-width: 300px;
    }

    button {
        width: 100%;
        max-width: 300px;
    }

    @media (max-width: 768px) {
        .elementor-21 .elementor-element.elementor-element-5bbddf2  .captcha-container {
            flex-direction: column!important;
            align-items: center!important;
        }

       .elementor-21 .elementor-element.elementor-element-5bbddf2   .captcha-image {
            max-width: 100%;
            margin-bottom: 10px;
            margin-right:0px!important;
            
        }

       .elementor-21 .elementor-element.elementor-element-5bbddf2   .captcha-fields {
            width: 100%;
        }
    }/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-ab3f32c */.elementor-21 .elementor-element.elementor-element-ab3f32c { font-family: 'Trebuchet MS', sans-serif;
        font-weight: 400;
    
    
}
    #consulta-cpf-widget form {
        display: flex;
        flex-direction: column;
    }

    #consulta-cpf-widget label {
        margin-bottom: 8px;
        color: #555;
    }

    #consulta-cpf-widget input {
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%; /* Faz o campo de texto ocupar toda a largura disponÃ­vel */
        box-sizing: border-box; /* Inclui o padding e a borda na largura total */
    }

    #consulta-cpf-widget button {
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        width:30%; /* Faz o botÃ£o ocupar toda a largura disponÃ­vel */
        box-sizing: border-box; /* Inclui o padding e a borda na largura total */
    }

   
    }
 
 .elementor-21 .elementor-element.elementor-element-ab3f32c  .captcha-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .elementor-21 .elementor-element.elementor-element-ab3f32c .captcha-image {
        max-width: 40%;
        height: auto;
    }

    .elementor-21 .elementor-element.elementor-element-ab3f32c  .captcha-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .elementor-21 .elementor-element.elementor-element-ab3f32c  #captcha-text {
        width: 100%;
        max-width: 300px;
    }

    button {
        width: 100%;
        max-width: 300px;
    }

    @media (max-width: 768px) {
        .elementor-21 .elementor-element.elementor-element-ab3f32c  .captcha-container {
            flex-direction: column!important;
            align-items: center!important;
        }

       .elementor-21 .elementor-element.elementor-element-ab3f32c   .captcha-image {
            max-width: 100%;
            margin-bottom: 10px;
            margin-right:0px!important;
            
        }

       .elementor-21 .elementor-element.elementor-element-ab3f32c   .captcha-fields {
            width: 100%;
        }
    }/* End custom CSS */